.create-form {
    width: 50%;
    margin: 0 auto;
    background-color: #222;
    padding: 20px;
    border-radius: 5px;
}

.create-form label {
    font-weight: bold;
    color: white;
}

.create-form input,
.create-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #555;
    background-color: #333;
    color: white;
}

.create-form button {
    background-color: #0056b3;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
