.edit-container {
    width: 60%;
    margin: 0 auto;
}

.edit-card {
    background-color: #222;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #555;
    color: white;
}

.edit-form input,
.edit-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #333;
    border: 1px solid #555;
    color: white;
}
