body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Темний фон */
    color: white; /* Білий текст */
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.button {
    background-color: #0056b3; /* Синій, як у макеті */
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.card {
    background-color: #222; /* Темний фон для карточок */
    padding: 15px;
    border-radius: 5px;
    margin: 15px;
}
