body {
    background-color: #121212;
    color: white;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-color: #000;
    color: white;
    padding: 10px;
}

.footer {
    background-color: #222;
    color: white;
    padding: 10px;
    text-align: center;
}
