.registration-form {
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: #222;
    border-radius: 5px;
}

.registration-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #333;
    border: 1px solid #555;
    color: white;
}

.registration-form button {
    background-color: #0056b3;
    color: white;
    padding: 10px;
    border: none;
}
