.user-container {
    width: 60%;
    margin: auto;
    background-color: #000;
    padding: 20px;
    border-radius: 5px;
}

.user-info {
    font-size: 16px;
    color: white;
}

.animal-card {
    background-color: #222;
    padding: 15px;
    border-radius: 5px;
    margin: 15px;
}
